[submodule "Library/Zend"]
	path = Library/Zend
	url = https://github.com/zf/ZendFramework-Library.git
[submodule "Library/ZFDebug"]
	path = Library/ZFDebug
	url = https://github.com/dirmax/ZFDebug.git
