#body {
	min-height: 100%;
	min-width: 50em;
	position: relative;
	padding-left: 20em;
	background: #fff url('../i/error/bg_gradient.gif') repeat-x bottom left;
}

.logotype {
	padding-top: 10em;
}

.logotype .logo {
	width: 9.9em;
	height: 3.27em;
}

.logo_warning {
	float: left;
}

/* Центральная картинка шириной в 1px и высотой достаточной для растяжки
 * идеальный вариант - градиентная заливка от цвета до фона
 */
DIV.layer {
	width: 80%;
	position: relative;
	margin-left: -2em;
	margin-top: 3em;
}

DIV.layer .content {
	background: url('../i/error/pattern.gif') repeat;
	border: 3px solid #b0b0b0;
	padding: 1.4em;
	font-size: 1.5em;
	border-radius: 30px 0 30px 0;
	position: relative;
}

DIV.layer .content A.more {
	font-size: 80%;
}

DIV.layer .content .warning IMG {
	width: 2em;
	height: 2em;
}


DIV.layer .content .warning {
	padding-bottom: 20px;
}

DIV.layer .content .warning H1 {
	color: #ff1b1b;
	font-weight: normal;
	font-size: 140%;
	margin-left: 2em;
	padding-top: .2em;
}

DIV.layer .content .log {
	border: 1px dashed red;
	padding: 5px;
	margin-top: 5px;
	font-size: 80%;
}


DIV.empty {
	height: 10em;
}

#footer {
	position: absolute;
	bottom: 0em;
	font-size: 120%;
	height: 5em;
}

#access_info_link {
	text-decoration: none;
	border-bottom: 1px dashed #0000ff;
	color: #0000ff;
}

	#access_info_link:hover {
		border-bottom: none;
	}
	
#access_info {
	border: 1px dashed red;
	padding:.5em;
}