#z_window #row_minute,
#z_window #row_hour,
#z_window #row_day,
#z_window #row_month,
#z_window #row_week_day {
	float: left;
	width: 60px;
	margin-right: 20px;
}

#z_window #row_month {
	width: 100px;
}

#z_window #row_minute SELECT,
#z_window #row_hour SELECT,
#z_window #row_day SELECT,
#z_window #row_month SELECT,
#z_window #row_week_day SELECT {
	width: auto;
}

#z_window #row_task LABEL, #z_window #row_task textarea {
	float: none;
	display: block;
}

#z_window #row_task .element {
	float: none;
}

#z_window #row_task textarea {
	height: 30px;
	width: 100%;
}

#z_window #row_active .checkbox {
	margin-left: 0;
}

	#z_window #row_active .checkbox #active {
		margin-left: 0;
	}
	
#z_window #z_task_header {
	width: 470px;
}

#z_window .z_task_schedule {
	width: 15px;
}

#z_window .z_align_center {
	text-align: center;
}

#z_window .z_task_date {
	font-size: 11px;
	white-space: nowrap;
}

#z_window .disable_cron .z_name {
	color: #888;
	text-decoration: line-through;
}

#z_window .hidden {
	display: none !important;
}
