.z_description_test {
	border: 1px dashed #777;
	margin: 10px 0;
	padding: 5px;
}

.z_description_test .assert {
	color: green;
}

.z_description_test .fail {
	color: red;
}

.z_description_test .error {
	color: red;
}
.z_test_item {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #777;
}
/*

.z_tests_list {
	font-size: 1.4em;
}

.z_go_arrow {
	position: absolute;
}

.z_test_item .return {
	display: none;
}
*/