#add_route_form {

}

	#add_route_form .errors {
		width: 195px;
	}

	#add_route_form #fieldset-base,
	#add_route_form #fieldset-extend_0,
	#add_route_form #fieldset-extend_1,
	#add_route_form #fieldset-extend_2,
	#add_route_form #fieldset-buttons
	{
		width: 45%;
		float: left;
		padding-top: 5px;
	}

	#add_route_form #fieldset-extend_0,
	#add_route_form #fieldset-extend_1,
	#add_route_form #fieldset-extend_2
	{
		float: right;
		padding-left: 5%;
		background: url('../images/admin/zigzag_separator_form.png') repeat-y;
	}

	#add_route_form #fieldset-buttons {
		width: 100%;
	}

	#add_route_form .submit {
		float: right;
	}
