.zetta_front {
	overflow: visible !important;
}

ZETTA {
	display: block;
}

#zetta_confirm {
	line-height: 1.2;
}

#zetta_wrapper {
	top: 43px;
	position: relative;
	/*padding-bottom: 100px;*/
	height: 100%;
}
#zetta_content_wrapper {
	height: 100%;
}

	#z_admin_panel UL,
	#z_window UL {
		margin: 0;
		padding: 0;
	}

		#z_admin_panel LI,
		#z_window LI {
			list-style: none;
			padding: 0;
		}


	/* Кнопки */
	.zetta_front .ui-button {

	    background-color: #f3f3f3;
		background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
		background-image: -ms-linear-gradient(top, #ffffff, #e1e1e1);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e1e1e1));
		background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
		background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
		background-image: linear-gradient(top, #ffffff, #e1e1e1);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=0);

	    border-color: #CCCCCC #CCCCCC #AAAAAA;
	    border-image: none;
	    border-radius: 4px 4px 4px 4px;
	    border-style: solid;
	    border-width: 1px;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	    color: #000000;
	    cursor: pointer;
	    display: inline-block;
	    font-family: Helvetica,Arial,Verdana,Tahoma,sans-serif;
	    font-size: 1em;
	    font-weight: normal;
	    line-height: 1;
	    margin: 0.5em 0.4em 0.5em 0 !important;
	    padding: 0.6em 1em !important;
	    outline: medium none;
	    text-align: center;
	    text-decoration: none;
	    text-shadow: 0 1px 0 #FFFFFF;
	}

		.zetta_front .ui-button:hover {
		    color: #555555;
		    background: none repeat scroll 0 0 #F3F3F3;
		    filter: none;
		    text-decoration: none;
		    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
		}

			.zetta_front .ui-button-text-only .ui-button-text {
				padding: 0;
			}

	.zetta_front .elfinder-quicklook {
		font-size: 1.6em;
	}

	.zetta_front .elfinder-dialog {
		font-size: 1em !important;
	}

	.zetta_front .ui-dialog-titlebar-close {
		margin: -10px 0 0 !important;
	}

		#z_window .ui-button {
			margin: 0 0 0 15px !important;
			float: right;
			color: #000000;
		}


		#z_window .ui-dialog-buttonset .ui-button {
			margin: 0.5em 0.4em 0.5em 0 !important;
		}

	/* Панель управления сверху */
	#z_admin_panel {
		height: 40px;
		width: 100%;
		background: url('../images/panel/pattern.gif') repeat;
		border-bottom: 3px solid #B0B0B0;
		position: fixed;
		z-index: 10020;
		top: 0;
		left:0;
		min-width: 800px;
		font-size: 12px;
	}

		#z_admin_panel .z_panel_wrapper {
			position: relative;
		}

		#z_admin_panel .z_logo {
			margin-top: 8px;
			margin-left: 10px;
		}

		#z_admin_panel A
		{
			padding-left: 20px;
			height: 16px;
			color: #000;
			display: block;
			font-size: 12px;
			margin-right: 15px;
		}

			#z_admin_panel > .z_panel_wrapper > A:first-child {
				padding: 0;
				margin: 0;
				height: auto;
				display: inline;
			}

		#z_admin_panel #z_manage_link {
			background: url('../images/panel/ico_manage.svg') no-repeat;
			text-decoration: none;
			position: absolute;
			top: 15px;
			left: 135px;
			background-size: 16px 16px;
		}

			#z_admin_panel #z_manage_link SPAN {
				border-bottom: 1px dotted #000;
			}

			#z_admin_panel #z_manage_link:hover SPAN {
				border-bottom: none;
			}


	#z_admin_panel #z_favorites_placeholder {
		position: absolute;
		top: 15px;
		margin: 0;
		padding: 0;
		left: 250px;
		margin-right: 320px;
		height: 16px;
		overflow: hidden;
	}

		#z_admin_panel #z_favorites_placeholder LI {
			float: left;
			margin-right: 0px;
			position: relative;
		}

			#z_admin_panel #z_favorites_placeholder LI {
				position: relative;
			}

				#z_admin_panel #z_favorites_placeholder IMG {
					width: 16px;
					position: absolute;
					top: 0px;
					left: 0px;
					margin: 0;
				}

				#z_admin_panel #z_favorites_placeholder A {
					text-decoration: none;
					padding-right: 10px;
				}

				#z_admin_panel #z_favorites_placeholder A SPAN {
					border-bottom: 1px solid #000;
				}

					#z_admin_panel #z_favorites_placeholder A:hover SPAN  {
						border-bottom: none;
					}

		#z_admin_panel #z_favorites_placeholder .z_remove_favorite {
			width: 8px;
			height: 8px;
			background: url('../images/panel/ico_delete_menu_item.png') no-repeat;
			text-indent: -100000px;
			position: absolute;
			right: 0;
			top: 0;
			padding: 0;
			display: none;
		}

			#z_admin_panel #z_favorites_placeholder LI:hover .z_remove_favorite {
				display: block;
			}

		#z_admin_panel #z_panel_placeholder {
			position: absolute;
			right: 20px;
			top: 0px;
		}

	#z_admin_panel .z_widget_item {
		float: left;
		height: 40px;
		overflow: hidden;
	}

		#z_admin_panel .z_widget_item A {
			margin-top: 14px;
			margin-right: 0;
		}

			#z_admin_panel .z_widget_item A IMG {
				width: 16px;
			}


	#z_ajax_loader {
		top: 7px;
		left: 96px;
		width: 16px;
		height: 11px;
		background: url('../images/panel/ajax-loader.gif') no-repeat;
		position: absolute;
		display: none;
	}

	/* Всплывающее окно */
	#z_window {
		position: absolute;
		z-index: 10010;
		top: 50px;
		display: none;
		width: 950px;
		left: 50%;
		margin-left: -475px;
		font-family: Arial;
		padding: 20px 0;
		background: #f7f7f7;
		background: -moz-linear-gradient(top,  #f7f7f7 0%, #e2e2e2 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e2e2e2));
		background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e2e2e2 100%);
		background: -o-linear-gradient(top,  #f7f7f7 0%,#e2e2e2 100%);
		background: -ms-linear-gradient(top,  #f7f7f7 0%,#e2e2e2 100%);
		background: linear-gradient(to bottom,  #f7f7f7 0%,#e2e2e2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e2e2e2',GradientType=0 );
		border-radius: 3px 3px 3px 3px;
	    box-shadow: 0 5px 60px #000000;
		font-size: 13px;
	}

		#z_window .zetta_developer_items {
			border-top: 1px dashed #666;
			margin-top: 20px;
		}

		#z_window A {
			color: #6d9bce;
		}

		#z_window .zetta_placeholder {
			margin: 0 20px;
		}

		#z_window .z_item {
			width: 33%;
			float: left;
			font-size: 13px;
			margin-bottom: 25px;
			margin-top: 15px;
		}

			#z_window .z_item A {
				font-size: 15px;
				color: #000;
			}

		#z_window .z_item IMG,
		#z_window .z_item .right {
			float: left;
		}

			#z_window .z_item .right {
				width: 75%;
			}

			#z_window .z_item .right P {
				margin-top: 5px;
			}

			#z_window .z_item IMG {
				margin-right: 15px;
    			width: 26px;
			}

		#z_window #z_close {
			text-decoration: none;
		    color: #777777;
		    cursor: pointer;
		    font-size: 20px;
		    height: 20px;
		    position: absolute;
		    right: 5px;
		    top: 5px;
		    width: 20px;

		}

			#z_window #z_close:hover {
				color: #000;
			}

		#z_window .z_to_favorite {
			width: 10px;
			height: 10px;
			background: url('../images/panel/ico_add_to_favorite.png') no-repeat;
			display: none;
			margin-top: -5px;
		}

			#z_window .z_item:hover .z_to_favorite {
				display: inline-block;
			}

		#z_overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #333333;
			opacity: 0.5;
			z-index: 10005;
			display: none;
		}


		#z_window .right {
			float: left;
		}

		#z_window #z_module_image {
			float: left;
			width: 26px;
		}

		#z_window H1 {
			font-size: 26px;
			font-weight: normal;
			margin: -5px 0 5px;
			padding: 0;
			text-transform: none;
		}

		#z_window H2 {
			font-size: 20px;
			font-weight: normal;
			padding: 0;
		}

		#z_window .z_head_module {
			margin-bottom: 15px;
			border-bottom: 1px dashed #BBBBBB;
			padding-bottom: 10px;
		}

		#z_window .z_head_module .right {
			margin-left: 20px;
			width: 840px;
		}

		#z_window P {
			margin-top: 0;
			font-size: 12px;
		}

		/* общие стили для форм в окне */
		#z_window FORM {
		}

			#z_window .zend_form {
				margin: 0;
			}

			#z_window .form_row {
				padding-bottom: 10px;
			}

			#z_window LABEL {
				float: left;
				width: 170px;
				padding: 5px 20px 5px 0;
				font-size: 13px;
			}

			#z_window .element {
				float: left;
			}

			#z_window .form_row:after {
				content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}

			#z_window .errors {
				display: block;
				color: red;
				list-style: none;
				padding: 0;
				margin: 0;
			}

				#z_window .errors LI {
					margin-top: 3px;
				}

			#z_window FIELDSET {
				border: none;
				margin: 0;
				padding: 0;
			}

			.zend_form:after {
				content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}

			#z_window LABEL.required:after {
				color: red;
				content: "*";
				font-size: 16px;
				margin-left: 4px;
				margin-top: -3px;
				position: absolute;
			}

			#z_window .label_checkbox {
				width: auto;
				padding: 1px 0 0 5px;
			}

			#z_window .checkbox {
				margin-left: 186px;
			}

			#z_window .form_row_radio {
				position: relative;
			}

					#z_window .radio LABEL {
						padding-right: 0;
						margin-left: 20px;
					}

					#z_window .radio INPUT {
						position: absolute;
						margin-left: -20px;
					}

				#z_window .radio_label {
					position: absolute;
					left: 0;
					top: 5px;
					padding: 0;
				}

			#z_window .z_buttons_placehoder {
				margin-top: 40px;
				border-top: 1px dashed #bbb;
				padding-bottom: 0px;
				min-height: 35px;
			}

				#z_window .z_buttons_placehoder .submit {
					float: right;
				}

			#z_window .z_buttons_placehoder .ui-button {
				top: 10px;
			}

			#z_window .form_row .text input,
			#z_window select {
				width: 190px;
				font-size: 12px;
				font-family: Arial;
			}

				#z_window .form_row .text textarea {
					font-size: 12px;
					font-family: Arial;
					width: 350px;
					height: 50px;
				}

				#z_window select {
					width: 196px;
				}


		/* иконки доступные по умолчанию */
		#z_window .z_icons {
			position: absolute;
		    right: 5px;
		    top: 5px;
		}

			#z_window LI:hover .z_icons {
				display: block;
			}

			#z_window .z_name {
				padding: 5px 110px 5px 5px;
				position: relative;
			}

				#z_window TD .z_name {
					padding-right: 5px;
				}

				#z_window .z_name [class^="icon-"]:before {
				    color: #777;
				    font-size: 11px;
				}

				#z_window .z_name A {
					outline: none;
				}


				#z_window .z_name:hover,
				#z_window .ui-sortable-helper {
					background: #fff;
				}

			#z_window .z_icons A,
			#z_window .z_ico {
				display: inline-block;
				width: 10px;
				height: 10px;
				margin-left: 4px;
				text-indent: -10000px;
				outline: none;
			}

				#z_window .z_ico {
					margin-top: 3px;
				}

				#z_window .z_ico_open { background: url('../images/panel/ico_open.png') no-repeat; }
				#z_window .z_ico_edit { background: url('../images/panel/ico_settings.png') no-repeat; }
				#z_window .z_ico_delete { background: url('../images/panel/ico_delete.png') no-repeat; }
				#z_window .z_ico_add { background: url('../images/panel/ico_add.png') no-repeat; }
				#z_window .z_ico_fields { background: url('../images/panel/ico_field.png') no-repeat; }
				#z_window .z_ico_menu_tree { background: url('../images/panel/ico_10_menu_list.png') no-repeat; }
				#z_window .z_ico_visible { background: url('../images/panel/ico_10_visible.png') no-repeat; }
				#z_window .z_ico_hidden { background: url('../images/panel/ico_10_hidden.png') no-repeat; }
				#z_window .z_ico_key { background: url('../images/panel/ico_10_key.png') no-repeat; }
				#z_window .z_ico_user { background: url('../images/panel/ico_10_user.png') no-repeat; }
				#z_window .z_ico_check { background: url('../images/panel/ico_10_check.png') no-repeat; }
				#z_window .z_ico_play { background: url('../images/panel/ico_10_play.png') no-repeat; }
				#z_window .z_ico_pause { background: url('../images/panel/ico_10_pause.png') no-repeat; }
				#z_window .z_ico_download { background: url('../images/panel/ico_10_download.png') no-repeat; }
				#z_window .z_ico_restore { background: url('../images/panel/ico_10_restore.png') no-repeat; }


		/* стиль ссылки "вернуться назад" */
		#z_window #z_back_url {
			color: green;
			text-decoration: none;
			margin-top: -22px;
			position: absolute;
			font-style: italic;
		}

			#z_window #z_back_url SPAN {
				text-decoration: underline;
			}

			#z_window #z_back_url:hover SPAN {
				text-decoration: none;
			}

		#z_window .ui-sortable-helper {
			transition: width .5s;
		}

		#z_window .ui-sortable-paging {
			width: 200px !important;
			margin-top: 35px;
			background: #fff;
			height: auto !important;
		}

		#z_window .sortable_placeholder {
			border: 1px dashed #999;
		}

		#z_window .sortable_placeholder.z_hide {
			visibility: hidden;
		}

			#z_window .z_name i {
				font-style: normal;
				color: #888;
			}

		#z_window .disable_item .z_name {
			text-decoration: line-through;
		}

		#z_window .sortable UL LI {
			margin-left: 20px;
		}

		#z_window .sortable .move {
			width: 16px;
			height: 16px;
			text-indent: -100000px;
			background: url('../images/panel/ico_move.png') no-repeat;
			cursor: move;
			float: left;
			margin-right: 7px;
		}

		#z_window table {

		}

			#z_window th {
				text-align: left;
				padding: 4px;
			}

			#z_window td {
				padding: 4px;
			}

			#z_window tr:hover td {
				background: #fff;
			}

			#z_window table .z_table_head_border TH {
				border-top: 1px solid #AAAAAA;
				height: 5px;
			}

	/* всплывающая панель реактора */
	#zetta_editor_toolbar {
		position: absolute;
		min-width: 820px;
		min-height: 31px;
		z-index: 1005;
		margin-top: -90px;
	}

		#zetta_editor_toolbar .redactor-toolbar {
			border: 2px solid #000;
			border-radius: 5px;
		}


	/* Настройки ui.jquery */
	.zetta_front .ui-front, .zetta_front .ui-widget {
		z-index: 10100 !important;
	}

		.zetta_front .ui-sortable-helper,
		.zetta_front .ui-selectable-helper {
			z-index: 10500 !important;
		}

		.zetta_front .ui-dialog {
			font-size: 1.2em;
		}

		.zetta_front .ui-dialog P {
			margin: 10px 0;
		}

		.zetta_front .ui-widget-overlay {
			background-repeat: repeat;
			z-index: 10090 !important;
		}

		.zetta_front .ui-dialog P .ui-icon {
			float: left;
			margin: 0 7px 20px;
		}

	.zetta_front .ui-dialog .ui-dialog-buttonpane {
		padding-right: 0;
	}

.z_admin_wrapper {
	position: relative;
	-moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
	box-sizing:         border-box;
 	margin: 0 !important;
 	padding: 0 !important;
}

	.z_admin_wrapper blockquote {
	/*
		margin: 0 !important;
 		padding: 0 !important;
 	*/
	}

	.z_admin_wrapper .z_icons_editable {
		position: absolute;
		top: 0px;
		right: 0px;
		font-size: 12px;
		background: #1cbe61;
		/* z-index: 10000; */
	}

		.in_edit .z_icons_editable {
			opacity: 0.4;
		}

		.z_icons_editable A,
		.z_icons_editable VAR
		{
			color: #fff !important;
			padding: 4px 0 !important;;
			width: 23px !important;
			display: none;
			text-align: center;
			font-size: 12px !important;
			cursor: pointer;
		}

		.z_icons_editable .icon-pencil, .z_icons_editable .icon {
			display: block;
			float: left;
		}

		.z_icons_editable .icon-remove {
			background: red;
		}

	.z_redactor {
		cursor: default;
	}

		.redactor_editor {
			cursor: text;
		}

		.z_inherit_block .icon-pencil { display: none; }
		.z_inherit_block .icon-unlock { display: none; }
		.z_inherit_block .icon-lock { display: block; }

	.z_override_block .icon-pencil { display: none; }
	.z_override_block .icon-lock { display: none; }
	.z_override_block .icon-unlock { display: block; }


.z_admin_menu {
	box-shadow: inset 0px 0px 0px 1px rgba(246, 112, 22, 0.4);
}

	.z_admin_menu:hover {
		box-shadow: inset 0px 0px 0px 1px rgba(246, 112, 22, 1);
	}

	.z_admin_menu .z_icons_editable {
		background: #f67016;
	}

.z_admin_publications {
	box-shadow: inset 0px 0px 0px 1px rgba(40, 101, 202, 0.4);
}

	.z_admin_publications:hover {
		box-shadow: inset 0px 0px 0px 1px rgba(40, 101, 202, 1);
	}

	.z_admin_publications .z_icons_editable {
		background: #2865ca;
		z-index: 1	/* если убрать z-index то на иконки не возможно нажать например тут http://1000.template.asdf.by/portfolio/flowers/ */
	}


.z_admin_block {
	box-shadow: inset 0px 0px 0px 1px rgba(28, 190, 97, 0.4);
	min-width: 30px;
}

	.z_admin_block .z_icons_editable {
		background: #1cbe61;
	}

	.z_admin_block:hover {
		box-shadow: inset 0px 0px 0px 1px rgba(28, 190, 97, 1);
	}

.z_inherit_block {
	box-shadow: inset 0px 0px 0px 1px rgba(170, 170, 170, 0.0.4);
}

	.z_inherit_block:hover {
		box-shadow: inset 0px 0px 0px 1px rgba(170, 170, 170, 1);
	}

	.z_inherit_block .z_icons_editable {
		background: #aaa;
	}


#z_window .in_edit {
	border: none !important;
}

#file_manager {
	padding: 0;
	font-size: 1em;
	overflow: hidden;
	font-size: 1.6em;
}

	#file_manager .elfinder-toolbar,
	#file_manager .elfinder-statusbar
	{
		background: #fff;
	}

#z_window .pagination_control {
	text-align: center;
	margin-top: 15px;
}

	#z_window .pagination_control I {
		display: none;
	}

	#z_window .pagination_control A {
		color: #555;
		font-size: 1em;
		padding: 0.1em 0.4em;
	}

	#z_window .pagination_control .pagination_next,
	#z_window .pagination_control .pagination_prev {
		text-decoration: none;
	}

	#z_window .pagination_control .pagination_disabled {
		display: none;
	}

	#z_window .pagination_control .pagination_current {
		background: #555;
		color: #fff;
		text-decoration: none;
		border-radius: 3px;
	}

	#z_window .z_drop_pagination {
		background: #fff;
	}
